body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('/images/background/16.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    font-size: 60px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
    width: 1200px;
}

.tableHead {
    display: inline-flex;
    gap: 40px;
}

th {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

.sort {
    text-decoration: none;
}

.selectedSort {
    background: Tan;
    padding: .5px;
    border-radius: 5px;
}

ul {
    padding: 0;
    margin: 0;
}

.comment {
	min-width: 700px;
	margin: 20px 0;
    background-color: white;
    background: linear-gradient(to bottom, White 90%, Tan);
    border-radius: 20px;
}

.commentHead {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px 20px 0px 0px;
    padding: 15px;
    background-color: Tan;
}

.commentBody {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 22px;
    margin: 10px;
}

.buttonAnswer {
    align-self: end;
    margin-right: 5px;
}

.commentChild {
    margin: 10px 5px 0px 80px;
    padding-bottom: 1px;
}

/*-----paginator-----*/
.pagination{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
}
.paginationElement{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
}
.paginationElementPressed{
    background: Tan;
    color: White;
}


.button {
    display: grid;
    width: 75px;
    height: 25px;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
}

.buttonCreate {
    width: 160px;
    margin-bottom: 15px;
}

/*-----create page-----*/
.createPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createForm {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: white;
    background: linear-gradient(to bottom, White 90%, Tan);
    border-radius: 20px;
    gap: 10px;
    font-size: 22px;
}

.input {
	display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.input > input {
    font-size: 22px;
}

.input > textarea {
    height: 150px;
    font-size: 22px;
}

.submit {
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 40px 0px;
    width: 100px;
}

.errorMessage {
    display: flex;
    color: FireBrick;
    gap: 10px;
}