.errorMessage{
    display: flex;
    color: FireBrick;
    gap: 10px;
}

table,td{
    border: 2px solid;
    /*text-align:center;*/
}

th{
	display: inline-flex;
}

ul{
	padding: 0;
}

.children{
	/*margin-left: 50px;*/
	padding-left: 50px;
}

.selectedSort{
	background: pink;
}