body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;


	background-image: url('/images/background/01.jpg');
	/*background-image: url('/images/background/16.jpg');*/
	/*background-image: url('/images/background/27.jpg');*/
	/*background-image: url('/images/background/29.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	font-size: 45px;
	font-weight: bold;
}

main {
	/*background: Plum;*/

	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	gap: 10px;
}

.newComment {
	background: lime;
	
}

table,td {
    border: 2px solid;
    /*text-align:center;*/
}

th {
	display: inline-flex;
}

ul {
	padding: 0;
}

.children {
	/*margin-left: 50px;*/
	padding-left: 50px;
}

.selectedSort {
	background: pink;
}

/*-----table-----*/
.table {
	background: Aquamarine;
}

/*-----paginator-----*/
/*max-content Pagination*/
.pagination{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 7px;
}
.paginationElement{
	display: flex;
    align-items: center;
	text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
}
.paginationElementPressed{
	background: Silver;
	color: White;
}

/*-----create page-----*/
.errorMessage {
    display: flex;
    color: FireBrick;
    gap: 10px;
}